<a href="https://colab.research.google.com/github/SungaHwang/ML_practice/blob/master/LDA%2CQDA_%EC%8B%A0%EC%9A%A9%EC%B9%B4%EB%93%9C%EC%97%B0%EC%B2%B4%EC%98%88%EC%B8%A1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 신용카드 사용자 연체 예측

* 판별분석에 중점

### 데이터 설명(출처: Dacon)
index


gender: 성별


car: 차량 소유 여부


reality: 부동산 소유 여부


child_num: 자녀 수


income_total: 연간 소득


income_type: 소득 분류


							['Commercial associate', 'Working', 'State servant', 'Pensioner', 'Student']



edu_type: 교육 수준


							['Higher education' ,'Secondary / secondary special', 'Incomplete higher', 'Lower secondary', 'Academic degree']



family_type: 결혼 여부


							['Married', 'Civil marriage', 'Separated', 'Single / not married', 'Widow']



house_type: 생활 방식


							['Municipal apartment', 'House / apartment', 'With parents',

							

							 'Co-op apartment', 'Rented apartment', 'Office apartment']



DAYS_BIRTH: 출생일


							데이터 수집 당시 (0)부터 역으로 셈, 즉, -1은 데이터 수집일 하루 전에 태어났음을 의미



DAYS_EMPLOYED: 업무 시작일


							데이터 수집 당시 (0)부터 역으로 셈, 즉, -1은 데이터 수집일 하루 전부터 일을 시작함을 의미

													

							양수 값은 고용되지 않은 상태를 의미함



FLAG_MOBIL: 핸드폰 소유 여부


work_phone: 업무용 전화 소유 여부


phone: 전화 소유 여부


email: 이메일 소유 여부


occyp_type: 직업 유형													


family_size: 가족 규모


begin_month: 신용카드 발급 월
			

							데이터 수집 당시 (0)부터 역으로 셈, 즉, -1은 데이터 수집일 한 달 전에 신용카드를 발급함을 의미







credit: 사용자의 신용카드 대금 연체를 기준으로 한 신용도


							=> 낮을 수록 높은 신용의 신용카드 사용자를 의미함

## 데이터 불러오고 정보 확인

In [4]:
# 패키지 설치
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

from sklearn.model_selection import cross_val_score
from sklearn.metrics import roc_auc_score, roc_curve, precision_recall_curve, precision_score, recall_score, auc
from sklearn.metrics import confusion_matrix, plot_confusion_matrix
from sklearn.metrics import classification_report, accuracy_score, f1_score

from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import KFold

In [5]:
# 데이터 불러오기
train = pd.read_csv('/content/train.csv')
train

       index gender car  ... family_size  begin_month  credit
0          0      F   N  ...         2.0         -6.0     1.0
1          1      F   N  ...         3.0         -5.0     1.0
2          2      M   Y  ...         2.0        -22.0     2.0
3          3      F   N  ...         2.0        -37.0     0.0
4          4      F   Y  ...         2.0        -26.0     2.0
...      ...    ...  ..  ...         ...          ...     ...
15997  15997      F   N  ...         2.0        -38.0     2.0
15998  15998      M   Y  ...         2.0        -55.0     2.0
15999  15999      M   N  ...         3.0        -40.0     2.0
16000  16000      F   N  ...         2.0        -16.0     1.0
16001  16001      F   Y  ...         NaN          NaN     NaN

[16002 rows x 20 columns]

In [6]:
# 데이터 불러오기
test = pd.read_csv('/content/test.csv')
test

      index gender car reality  ...  email      occyp_type family_size begin_month
0     26457      M   Y       N  ...      0             NaN         2.0       -60.0
1     26458      F   N       Y  ...      0      Core staff         2.0       -36.0
2     26459      F   N       Y  ...      0        Laborers         2.0       -40.0
3     26460      M   Y       N  ...      0         Drivers         2.0       -41.0
4     26461      F   Y       Y  ...      0        Managers         2.0        -8.0
...     ...    ...  ..     ...  ...    ...             ...         ...         ...
9995  36452      F   Y       Y  ...      0     Accountants         2.0       -19.0
9996  36453      M   Y       Y  ...      0        Laborers         2.0       -34.0
9997  36454      F   N       Y  ...      0  Medicine staff         2.0       -55.0
9998  36455      F   Y       N  ...      0             NaN         2.0       -33.0
9999  36456      F   N       Y  ...      1        Laborers         2.0       -11.0

[10000 rows x 19 columns]

In [7]:
# 데이터 정보 확인
print(train.info())
print(train.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16002 entries, 0 to 16001
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          16002 non-null  int64
 1   gender         16002 non-null  object
 2   car            16002 non-null  object
 3   reality        16002 non-null  object
 4   child_num      16002 non-null  int64
 5   income_total   16002 non-null  float64
 6   income_type    16002 non-null  object
 7   edu_type       16002 non-null  object
 8   family_type    16002 non-null  object
 9   house_type     16002 non-null  object
 10  DAYS_BIRTH     16002 non-null  int64
 11  DAYS_EMPLOYED  16002 non-null  int64
 12  FLAG_MOBIL     16001 non-null  float64
 13  work_phone     16001 non-null  float64
 14  phone          16001 non-null  float64
 15  email          16001 non-null  float64
 16  occyp_type     11052 non-null  object
 17  family_size    16001 non-null  float64
 18  begin_month    16001 non-null  float64
 19  credit         16001 non-null  float64
dtypes: float64(8), int64(4), object(8)
memory usage: 2.4+ MB
None
index               0
gender              0
car                 0
reality             0
child_num           0
income_total        0
income_type         0
edu_type            0
family_type         0
house_type          0
DAYS_BIRTH          0
DAYS_EMPLOYED       0
FLAG_MOBIL          1
work_phone          1
phone               1
email               1
occyp_type       4950
family_size         1
begin_month         1
credit              1
dtype: int64

In [8]:
# 데이터 정보 확인
print(test.info())
print(test.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          10000 non-null  int64
 1   gender         10000 non-null  object
 2   car            10000 non-null  object
 3   reality        10000 non-null  object
 4   child_num      10000 non-null  int64
 5   income_total   10000 non-null  float64
 6   income_type    10000 non-null  object
 7   edu_type       10000 non-null  object
 8   family_type    10000 non-null  object
 9   house_type     10000 non-null  object
 10  DAYS_BIRTH     10000 non-null  int64
 11  DAYS_EMPLOYED  10000 non-null  int64
 12  FLAG_MOBIL     10000 non-null  int64
 13  work_phone     10000 non-null  int64
 14  phone          10000 non-null  int64
 15  email          10000 non-null  int64
 16  occyp_type     6848 non-null   object
 17  family_size    10000 non-null  float64
 18  begin_month    10000 non-null  float64
dtypes: float64(3), int64(8), object(8)
memory usage: 1.4+ MB
None
index               0
gender              0
car                 0
reality             0
child_num           0
income_total        0
income_type         0
edu_type            0
family_type         0
house_type          0
DAYS_BIRTH          0
DAYS_EMPLOYED       0
FLAG_MOBIL          0
work_phone          0
phone               0
email               0
occyp_type       3152
family_size         0
begin_month         0
dtype: int64

* occyp_type: 직업 유형 에만 train, test 모두 결측값 존재
* 범주형, 수치형 자료가 모두 존재

## 전처리

### 결측치 처리

In [9]:
train.fillna('NaN', inplace=True) 
test.fillna('NaN', inplace=True)

* 결측값에 NaN 값 넣기

In [10]:
print(train.isnull().sum())
print(test.isnull().sum())

index            0
gender           0
car              0
reality          0
child_num        0
income_total     0
income_type      0
edu_type         0
family_type      0
house_type       0
DAYS_BIRTH       0
DAYS_EMPLOYED    0
FLAG_MOBIL       0
work_phone       0
phone            0
email            0
occyp_type       0
family_size      0
begin_month      0
credit           0
dtype: int64
index            0
gender           0
car              0
reality          0
child_num        0
income_total     0
income_type      0
edu_type         0
family_type      0
house_type       0
DAYS_BIRTH       0
DAYS_EMPLOYED    0
FLAG_MOBIL       0
work_phone       0
phone            0
email            0
occyp_type       0
family_size      0
begin_month      0
dtype: int64

### 인코딩

## EDA 및 시각화

## 모델링